/*
  This files serves as a central place for non-scoped css.
  Especially needed for layout trying to style children they expect.
*/

/*
  Adjust images for dark mode.
*/

/* html.dark {
  --image-filter: saturate(0.9);
}

html.dark .baum-image-left .baum-image-left_image {
  filter: var(--image-filter);
}

html.dark img {
  filter: var(--image-filter);
} */

/*
  Title
*/

.baum-title {
  h1 {
    @apply text-6xl;
    border-bottom: 1px solid var(--primary);
    text-align: start;
    margin-bottom: 0;
  }

  h1 + p {
    text-align: right;
    font-weight: bold;
    font-size: 1.5em;
    color: var(--primary);
    margin-bottom: 0;
  }
}
