/* Colors based on: 378acd */

@font-face {
  font-family: 'Simonetta-Black';
  src: url('/fonts/Simonetta/Simonetta-Black.ttf');
}

@font-face {
  font-family: 'NotoEmoji';
  src: url('/fonts/Noto_Emoji/NotoEmoji-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto/Roboto-Medium.ttf');
}

html {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}

html {
  --shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

#slide-content {
  background-color: var(--background);
  color: var(--text);
}

html.dark #slide-content {
  background-color: var(--background);
  color: var(--text);
}

.color-accent {
  color: var(--accent);
}

.color-primary {
  color: var(--primary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Simonetta-Black', serif;
}

.slidev-code {
  border: var(--border);
}
